.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

data/raw/*
data/trusted/*
data/analytics/*
!data/raw/.gitkeep
!data/trusted/.gitkeep
!data/analytics/.gitkeep

notebooks/.ipynb_checkpoints/
*.log
