# Keep only the root README public
**/*.md
!/README.md

# Allow public dashboard export images
!docs/
!docs/dashboard_exports/
!docs/dashboard_exports/*.png

# macOS junk
.DS_Store
**/.DS_Store

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Logs
logs/

# Local data files (do not push)
data/raw/
data/trusted/
data/analytics/

# Local Tableau files (do not push)
tableau/
*.twb
*.twbx
*.twbr